[submodule "MiniCPM-V"]
	path = MiniCPM-V
	url = https://github.com/OpenBMB/MiniCPM-V
[submodule "LLaVA"]
	path = LLaVA
	url = https://github.com/LLaVA-VL/LLaVA-NeXT
[submodule "SAM2"]
	path = SAM2
	url = https://github.com/facebookresearch/sam2
[submodule "QwenLM"]
	path = QwenLM
	url = https://github.com/QwenLM/Qwen2.5-VL
[submodule "VILA"]
	path = VILA
	url = https://github.com/NVlabs/VILA
[submodule "Janus"]
	path = Janus
	url = https://github.com/deepseek-ai/Janus
[submodule "FoodLMM"]
	path = FoodLMM
	url = https://github.com/YuehaoYin/FoodLMM
[submodule "OpenSource/VMamba"]
	path = OpenSource/VMamba
	url = https://github.com/MzeroMiko/VMamba
[submodule "OpenSource/ResVMamba"]
	path = OpenSource/ResVMamba
	url = https://github.com/ChiShengChen/ResVMamba.git
[submodule "Dev/VLM_Fine_Tuning/sandy_qwen_fine_tuning"]
	path = Dev/VLM_Fine_Tuning/sandy_qwen_fine_tuning
	url = https://github.com/sandy1990418/Finetune-Qwen2.5-VL.git
